<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Request Reset Password</title>
  </head>
  <style>
    body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    .text {
      margin-bottom: 20px;
      font-size: 1.1rem;
      color: rgb(102, 102, 102);
    }

    .title {
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 20px;
    }

    .reset-wrapper {
      width: 100%;
      max-width: 300px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
    }
    .reset-password {
      background: #1a81c4;
      border-radius: 1000px;
      padding: 10px;
      text-align: center;
      color: white;
      font-size: 1.1rem;
      text-decoration: none;
      margin-top: 30px;
      display: block;
      font-family: Arial, Helvetica, sans-serif;
    }
    .reset-btn-wrap {
    }
  </style>
  <body>
    <div class="reset-wrapper">
      <h3 class="title">Hi {{name}},</h3>
      <p class="text">You requested to reset your password.</p>
      <p class="text">Please, click the link below to reset your password</p>
      <div class="reset-btn-wrap">
        <a class="reset-password" href="{{link}}">Reset Password</a>
      </div>
                  <p class="text">do not replay to this mail - אין להשיב למייל זה</p>

    </div>
  </body>
</html>
